extends layout.pug
block head
	//
block content
	header.content__title
		h1 AGENDA
	.card
		.card-block
			.row
				.col-md-12.padding-top
					button#buttonCopiarDia.btn.btn-primary.float-right(type='button') Copiar agenda
				.col-md-12.padding-top
					#scheduler
					// Modal
					#modalAgregarEvento.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalAgregarEvento', aria-hidden='true')
						.modal-dialog.modal-dialog-centered(role='document')
							.modal-content
								.modal-header
									h5.modal-title Agregar agenda
								.modal-body
									label Cliente:
									#selectBoxCliente.form-control
								.modal-footer
									button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
									button#buttonGuardarEvento.btn.btn-primary(type='button') Guardar
					#modalCancelarEvento.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalCancelarEvento', aria-hidden='true')
						.modal-dialog.modal-dialog-centered(role='document')
							.modal-content
								.modal-header
									h5.modal-title Cancelar visita
								.modal-body
									label Motivo:
									#selectBoxEstadoAgenda
								.modal-footer
									button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
									button#buttonCancelarEvento.btn.btn-primary(type='button') Guardar
					#modalClonarDia.modal.fade(tabindex='-1')
						.modal-dialog
							.modal-content
								.modal-header
									h5.modal-title.pull-left COPIAR AGENDA
								.modal-body
									p Seleccione un día para copiar los eventos que contiene en otro día deseado
									div.padding-top
										label Día origen
										#dateFechaOrigen
									div.padding-top
										label Día destino
										#dateFechaDestino
										label(style='color: #ff5652;') *Se borrarán los eventos que contenga este día
								.modal-footer
									button#buttonClonarAgenda.btn.btn-primary(type='button') Guardar
									button.btn.btn-link(type='button', data-dismiss='modal') Cerrar
block footer
	//js
	script(src='js/views/agenda.min.js')