extends layout.pug
block head
	//css
block content
	header.content__title
		h1 Agenda
	.card
		.card-body.card-padding
			.row
				.col-md-6
					.form-group
						label Representante:
						#selectBoxRepresentante.form-control.input-mask
			.row
				#scheduler
block footer
	//js
	script(src='js/views/agendaSupervisor.min.js')