extends layout.pug
block head
	//css
block content
	header.content__title
		h1 COBERTURA
	.card
		.card-block
			.row
				.col-md-12(style='padding-top: 20px')
					.content__title
						h4(style='margin:0') Punto de venta
					#dataGridCoberturaInstitucion
				.col-md-12(style='padding-top: 20px')
					.content__title
						h4(style='margin:0') Profesionales
					#dataGridCoberturaProfesional
				.col-md-12(style='padding-top: 20px')
					.content__title
						h4(style='margin:0') Hospitalarios
					#dataGridCoberturaHospitalario
block footer
	//js
	script(src='js/views/cobertura.min.js')