extends layout.pug
block head

block content
	header.content__title
		h1 COBERTURA SUPERVISOR
	.card
		.card-block
			.row
				.col-md-6
					.form-group
						label Ciclo:
						#selectBoxCiclo.form-control.input-mask
			.row
				.col-md-12(style='padding-top: 20px')
					.content__title
						h4(style='margin:0') Punto de venta
					#dataGridCoberturaInstitucion
				.col-md-12(style='padding-top: 20px')
					.content__title
						h4(style='margin:0') Profesionales
					#dataGridCoberturaProfesional
				.col-md-12(style='padding-top: 20px')
					.content__title
						h4(style='margin:0') Hospitalario
					#dataGridCoberturaHospitalario
block footer
	//js
	script(src='js/views/coberturaSupervisor.min.js')