extends layout.pug
block head
	//css
block content
	header.content__title
		h1 CREAR USUARIO (EN CONSTRUCCIÓN)
	.card
		.card-block
			.row
block footer
	//js
	script(src='js/views/crearUsuario.min.js')