extends layout.pug
block head
	//css
block content
	header.content__title
		h1 KARDEX
	.card
		.card-block
			.row
				.col-md-12(style='float: right !important')
					button#buttonNuevoKardex.btn.btn-primary.btn--icon-text.waves-effect(style='float: right !important')
						i.zmdi.zmdi-plus
						|  NUEVO ASIGNACIÓN
				.col-md-12(style='padding-top: 20px')
					#dataGridKardex
block footer
	//js
	script(src='js/views/crudKardex.min.js')