extends layout.pug
block head
	//css
block content
	header.content__title
		h1 HOSPITALARIO
	.card
		.card-block
			.row
				.col-md-12(style='float: right !important')
					button#buttonNuevoHospitalario.btn.btn-primary.btn--icon-text.waves-effect(style='float: right !important')
						i.zmdi.zmdi-plus
						|  NUEVO HOSPITALARIO
				.col-md-12(style='padding-top: 20px')
					#dataGridHospitalario
block footer
	//js
	script(src='js/views/crudHospitalario.min.js')