extends layout.pug
block head
	//css
block content
	header.content__title
		h1 PUNTO DE VENTA
	.card
		.card-block
			.row
				.col-md-12(style='float: right !important')
					button#buttonNuevoInstitucion.btn.btn-primary.btn--icon-text.waves-effect(style='float: right !important')
						i.zmdi.zmdi-plus
						|  NUEVO PUNTO DE VENTA
				.col-md-12(style='padding-top: 20px')
					#dataGridInstitucion
block footer
	//js
	script(src='js/views/crudInstitucion.min.js')