extends layout.pug
block head
	//css
block content
	header.content__title
		h1 NUEVO PROFESIONAL
	.card
		.card-block
			.row
				.col-md-12(style='padding-top: 20px')
					#formProfesional
				.col-md-12(style='padding-top: 20px')
					#buttonNuevo
block footer
	//js
	script(src='js/views/crudProfesionalNuevo.min.js')