extends layout.pug
block head
	//css
block content
	header.content__title
		h1 PROFESIONAL
	.card
		.card-block
			.row
				.col-md-12(style='float: right !important')
					button#buttonNuevoProfesional.btn.btn-primary.btn--icon-text.waves-effect(style='float: right !important')
						i.zmdi.zmdi-plus
						|  NUEVO PROFESIONAL
				.col-md-12(style='padding-top: 20px')
					#dataGridProfesional
block footer
	//js
	script(src='js/views/crudProfesional.min.js')