extends layout.pug
block head
block content
	header.content__title
		h1 FORMULARIO VISITA PUNTO DE VENTA
	.card.padding-formulario(style='background-color: white')
		.card-block
			h3 Información
			.row(style='padding-top:20px')
				.col-md-4.col-sm-6
					label Código:
					.form-group
						#codigo.form-control.input-mask
				.col-md-4.col-sm-6
					label Nombre:
					.form-group
						#nombres.form-control.input-mask
				.col-md-4.col-sm-6
					label Cadena:
					.form-group
						#cadena.form-control.input-mask
				.col-md-4.col-sm-6
					label Categoria CIA:
					.form-group
						#categoria_compania.form-control.input-mask
				.col-md-4.col-sm-6
					label Frecuencia:
					.form-group
						#frecuencia.form-control.input-mask
				.col-md-4.col-sm-6
					label Ciclo Nro:
					.form-group
						#ciclo.form-control.input-mask
			//- h3(style='padding-top:20px') Encuesta
			//- #container-encuesta.row(style='padding-top:20px')
			.row(style='padding-top:20px')
			h3(style='padding-top:20px') Productos
			.row
				#gridProducto
			h3(style='padding-top:20px') Datos Visita Actual
			.row(style='padding-top:20px')
				.col-md-4
					label Día de visita:
					.form-group
						#dateFechaVisita.form-control
				.col-md-4
					label Tipo de Visita:
					.form-group
						#selectBoxTipoVisita.form-control.input-mask
				.col-md-4
					label Visita Acompañada:
					.form-group
						#checkBoxVisitaAcompanada
				.col-md-12
					label Información visita:
					.form-group
						#textAreaVisitaActual.form-control
			.row
				.col-md-offset-3.col-md-4.col-sm-6
					#buttonGuardarContainer
				.col-md-4.col-md-offset-1.col-sm-6
					#buttonCancelarContainer
block footer
	//js
	script(src='js/views/formularioVisitaInstitucion.min.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDyVppQOpr_lc0xiSiaa8LqeKUrZqDHcKY')