extends layout.pug
block head
	script(src='js/xlsx.full.min.js')
block content
	header.content__title
		h1 IMPORTAR VISITAS
	.card
		.card-block
			.row
				.col-md-12(style='padding-top: 20px')
					input#input(type="file")
				.col-md-12(style='padding-top: 20px')
					#my_file_output
					
block footer
	//js
	script(src='js/views/importarVisita.min.js')