doctype html
<!--[if IE 9 ]><html class="ie9"><![endif]-->
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title#tituloIncidenciaImagen Imagen Cobertura
        //link(rel='shortcut icon', href='public/img/Icon/icon.png')
        link(rel='icon', type='image/vnd.microsoft.icon', href='img/Icon/icono.png')
    body
        #divIncidenciaImagen
        script(src='vendors/bower_components/jquery/dist/jquery.min.js')
        script(src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js')
        script(src='https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js')
        script(src='js/jQueryRotate.js')
        script(src='js/views/incidenciaImagen.min.js')