extends layout.pug
block head
	//css
block content
	header.content__title
		h1 REPORTE DE INCIDENCIA
	.card(style='padding-top: 12px;')
		.card-block
			.row
				.col-md-6
					.form-group
						label Cadena:
						#selectBoxCadena.form-control.input-mask
				.col-md-6
					.form-group
						label Nro Local - Dirección:
						#selectBoxLocalDireccion.form-control.input-mask
				.col-md-6
					.form-group
						label Productos:
						#selectBoxProducto.form-control.input-mask
			.row
				.col-md-6
					.form-group
						label Reporte de terreno:
						.form-group
							#checkBoxQuiebreStock
						.form-group
							#checkBoxStockBajoSugerido
						.form-group
							#checkBoxNoFuncionaProgramaPaciente
						.form-group
							#checkBoxPlanograma
						.form-group
							#checkBoxAccionCompetencia
						.form-group
							#checkBoxCapacitacionRealizada
						.form-group
							#checkBoxInformacionEspecial
						.form-group
							#checkBoxExhibicion
				.col-md-6
					.form-group
						label Agregar imagen:
						#fileUploadImagen
			.row
				.col-md-6
					.form-group
						label Comentario:
						#textAreaComentario.form-control.input-mask
			.row
				#buttonEnviar
block footer
	//js
	script(src='js/views/incidencia.min.js')