extends layout.pug
block head
	//css
block content
	#popupDatagridImage
	header.content__title
		h1 INCIDENCIAS
	.card
		.card-block
			.row
				#dataGridIncidencia
	
block footer
	//js
	script(src='js/views/incidenciaSupervisor.min.js')