extends layout.pug
block head
block content
	.row.mb-3
		.col-md-9
			header.content__title
				h1 ESTADO REPRESENTANTES
				small#subtitulo-inicio RESUMEN
	.row
		.col-md-6.col-xs-6.col-sm-6
			.form-group
				label Ciclo:
				#selectBoxCiclo.form-control.input-mask
		.col-md-6.col-xs-6.col-sm-6
			.form-group
				label Representante:
				#selectBoxRepresenante.form-control.input-mask
	#cardInicio
		.row
			.col-md-12
				.row.quick-stats
					.col-sm-6.col-md-3.col-xs-6
						.quick-stats__item.bg-meta-ciclo
							.quick-stats__info
								h2#h2MetaCiclo 0
								small Meta Ciclo
							.quick-stats__chart.sparkline-bar-stats 6,4,8,6,5,6,7,8,3,5,9,5
					.col-sm-6.col-md-3.col-xs-6
						.quick-stats__item.bg-meta-fecha
							.quick-stats__info
								h2#h2MetaFecha 0
								small Meta a Fecha
							.quick-stats__chart.sparkline-bar-stats 4,7,6,2,5,3,8,6,6,4,8,6
					.col-sm-6.col-md-3.col-xs-6
						.quick-stats__item.bg-realizadas
							.quick-stats__info
								h2#h2VisitaRealizadas 0
								small Visitas efectivas
							.quick-stats__chart.sparkline-bar-stats 9,4,6,5,6,4,5,7,9,3,6,5
					.col-sm-6.col-md-3.col-xs-6
						.quick-stats__item.bg-restantes
							.quick-stats__info
								h2#h2VisitasCanceladas 0
								small Visitas canceladas
							.quick-stats__chart.sparkline-bar-stats 5,6,3,9,7,5,4,6,5,6,4,9
			.col-md-6
				.card.card-inverse.widget-pie
					.col-6.col-md-4.widget-pie__item
						.widget-pie__title
							| Profesionales
							#circularGaugeProfesional
					.col-6.col-md-4.widget-pie__item
						.widget-pie__title
							| Puntos de ventas
							#circularGaugeInstitucion
					.col-6.col-md-4.widget-pie__item
						.widget-pie__title
							| Hospitalarios
							#circularGaugeHospitalario
					.col-6.col-md-4.widget-pie__item
						.widget-pie__title
							| Categoría A
							#gaugeCategoriaA
					.col-6.col-md-4.widget-pie__item
						.widget-pie__title
							| Categoría B
							#gaugeCategoriaB
					.col-6.col-md-4.widget-pie__item
						.widget-pie__title
							| Categoría C
							#gaugeCategoriaC
			#coberturaTotalCliente.col-md-12
				.card
					.card-header(style='padding: 12px;')
						h2.card-title Total visitas
						small.card-subtitle Cantidad de visitas por tipo de cliente
					.card-block
						#chartCoberturaTotalCliente
			#categoriaProfesional.col-md-12.col-xs-12
				.card
					.card-header(style='padding: 12px;')
						h2.card-title Visitas por Categoría Profesionales
						small.card-subtitle Cantidad de visitas por categoría
					.card-block
						#chartCategoriaProfesional
			#coberturaTotalProfesional.col-md-12
				.card
					.card-header(style='padding: 12px;')
						h2.card-title Visitas por Ciclo Profesionales
						small.card-subtitle Cantidad de visitas realizadas cada día
					.card-block
						#chartCoberturaTotalProfesional
			#categoriaInstitucion.col-md-12
				.card
					.card-header(style='padding: 12px;')
						h2.card-title Visitas por Categoría Puntos de ventas
						small.card-subtitle Cantidad de visitas por categoría
					.card-block
						#chartCategoriaInstitucion
			#coberturaTotalInstitucion.col-md-12
				.card
					.card-header(style='padding: 12px;')
						h2.card-title Visitas por Ciclo Puntos de ventas
						small.card-subtitle Cantidad de visitas realizadas cada día
					.card-block
						#chartCoberturaTotalInstitucion
			#categoriaHospitalario.col-md-12
				.card
					.card-header(style='padding: 12px;')
						h2.card-title Visitas por Categoría Hospitalario
						small.card-subtitle Cantidad de visitas por categoría
					.card-block
						#chartCategoriaHospitalario
			#coberturaTotalHospitalario.col-md-12
				.card
					.card-header(style='padding: 12px;')
						h2.card-title Visitas por Ciclo Hospitalario
						small.card-subtitle Cantidad de visitas realizadas cada día
					.card-block
						#chartCoberturaTotalHospitalario
			#agendaChart.col-md-12
				.card
					.card-header(style='padding: 12px;')
						h2.card-title Planificación agenda vs Visitados
						small.card-subtitle Cumplimiento y reporte de ruta
					.card-block
						#chartAgenda
			#agendaPieProfesional.col-md-6
				.card
					.card-header(style='padding: 12px;')
						h2.card-title Planificación agenda Profesionales
						small.card-subtitle Razones de no visita ciclo actual
					.card-block
						#pieChartAgendaProfesional
			#agendaPieInstitucion.col-md-6
				.card
					.card-header(style='padding: 12px;')
						h2.card-title Planificación agenda Puntos de Ventas
						small.card-subtitle Razones de no visita ciclo actual
					.card-block
						#pieChartAgendaInstitucion
			#agendaPieHospitalario.col-md-6
				.card
					.card-header(style='padding: 12px;')
						h2.card-title Planificación agenda Hospitalarios
						small.card-subtitle Razones de no visita ciclo actual
					.card-block
						#pieChartAgendaHospitalario
block footer
	script(src='js/views/inicioSupervisor.min.js')
	link(rel='stylesheet', href='css/inicio.css')