extends layout.pug
block head
block content
	header.content__title
		h1 KARDEX HOSPITALARIO
	.card.card-formulario
		.card-block
			.row
				//- pc
				.col-md-12.hidden-sm-down.card-menu-tab
					ul.nav.nav-pills.nav-fill
						li.nav-item
							a.tabDatagrid1.nav-link.active Punto de vista Potencial
						li.nav-item
							a.tabDatagrid2.nav-link Punto de vista Geo
						li.nav-item
							a.tabDatagrid3.nav-link Punto de vista Personal
						li.nav-item
							a.tabDatagrid4.nav-link Punto de vista Histórico
				//- tablet - mobile
				.col-sm-6.hidden-md-up
					ul.nav.nav-pills.nav-fill
						li.nav-item
							a.tabDatagrid1.nav-link.active Punto de vista Potencial
					ul.nav.nav-pills.nav-fill
						li.nav-item
							a.tabDatagrid2.nav-link Punto de vista Geo
				.col-sm-6.hidden-md-up
					ul.nav.nav-pills.nav-fill
						li.nav-item
							a.tabDatagrid3.nav-link Punto de vista Personal
					ul.nav.nav-pills.nav-fill
						li.nav-item
							a.tabDatagrid4.nav-link Punto de vista Histórico
				.col-md-12
					#dataGridContainer
block footer
	//js
	script(src='js/views/kardexHospitalario.min.js')
	style
		