extends layout.pug
block head
block content
	header.content__title
		h1 KARDEX PROFESIONAL
	.card.card-formulario
		.card-block
			.row
				//- pc
				.col-md-12.hidden-sm-down.card-menu-tab
					ul.nav.nav-pills.nav-fill
						li.nav-item
							a.tabDatagrid1.nav-link.active Clientes Punto Venta Potencial
						li.nav-item
							a.tabDatagrid2.nav-link Clientes Punto Venta Geo
						li.nav-item
							a.tabDatagrid3.nav-link Clientes Punto Venta Personal
						li.nav-item
							a.tabDatagrid4.nav-link Clientes Punto Venta Histórico
				//- tablet - mobile
				.col-sm-6.hidden-md-up
					ul.nav.nav-pills.nav-fill
						li.nav-item
							a.tabDatagrid1.nav-link.active Clientes Punto Venta Potencial
					ul.nav.nav-pills.nav-fill
						li.nav-item
							a.tabDatagrid2.nav-link Clientes Punto Venta Geo
				.col-sm-6.hidden-md-up
					ul.nav.nav-pills.nav-fill
						li.nav-item
							a.tabDatagrid3.nav-link Clientes Punto Venta Personal
					ul.nav.nav-pills.nav-fill
						li.nav-item
							a.tabDatagrid4.nav-link Clientes Punto Venta Histórico
				.col-md-12
					#dataGridContainer
block footer
	//js
	script(src='js/views/kardexProfesionalSupervisor.min.js')