doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		// Vendor styles
		link(rel='shortcut icon', href='/img/Icon/favicon.ico', type='image/x-icon') 
		link(rel='stylesheet', href='vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css')
		link(rel='stylesheet', href='vendors/bower_components/animate.css/animate.min.css')
		link(rel='stylesheet', href='vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css')
		link(rel='stylesheet', href='vendors/bower_components/fullcalendar/dist/fullcalendar.min.css')
		link(rel='stylesheet', href='vendors/bower_components/sweetalert2/dist/sweetalert2.min.css')
		
		// DevExtreme themes
		link(rel='stylesheet', type='text/css', href='vendors/bower_components/devextreme/css/dx.common.css')
		link(rel='stylesheet', type='text/css', href='vendors/bower_components/devextreme/css/dx.light.css')
		// Javascript
		// ../vendors
		// Javascript
		script(src='vendors/bower_components/jquery/dist/jquery.min.js')
		// Reference Globalize if you need to localize app or your app uses custom date, number or currency formatting
		script(src='vendors/bower_components/globalize/cldr.js')
		script(src='vendors/bower_components/globalize/cldr/event.min.js')
		script(src='vendors/bower_components/globalize/cldr/supplemental.js')
		//script(src='vendors/bower_components/globalize/cldr/unresolved.js')
		script(src='vendors/bower_components/globalize/globalize.js')
		//script(src='vendors/bower_components/globalize/globalize/message.min.js')
		script(src='vendors/bower_components/globalize/globalize/number.min.js')
		//script(src='vendors/bower_components/globalize/globalize/currency.min.js')
		script(src='vendors/bower_components/globalize/globalize/date.min.js')
		// App styles
		link(rel='stylesheet', href='css/app.css')
		link(rel='stylesheet', href='css/layout.css')
		//
		script(src='vendors/bower_components/tether/dist/js/tether.min.js')
		script(src='vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='vendors/bower_components/Waves/dist/waves.min.js')
		script(src='vendors/bower_components/jquery.scrollbar/jquery.scrollbar.min.js')
		script(src='vendors/bower_components/jquery-scrollLock/jquery-scrollLock.min.js')
		script(src='vendors/bower_components/Waves/dist/waves.min.js')
		script(src='vendors/bower_components/flot/jquery.flot.js')
		script(src='vendors/bower_components/flot/jquery.flot.resize.js')
		script(src='vendors/bower_components/flot.curvedlines/curvedLines.js')
		script(src='vendors/bower_components/jqvmap/dist/jquery.vmap.min.js')
		script(src='vendors/bower_components/jqvmap/dist/maps/jquery.vmap.world.js')
		script(src='vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js')
		script(src='vendors/bower_components/salvattore/dist/salvattore.min.js')
		script(src='vendors/jquery.sparkline/jquery.sparkline.min.js')
		script(src='vendors/bower_components/moment/min/moment.min.js')
		script(src='vendors/bower_components/flatpickr/dist/flatpickr.min.js')
		script(src='vendors/bower_components/sweetalert2/dist/sweetalert2.min.js')
		script(src='vendors/bower_components/fullcalendar/dist/fullcalendar.min.js')
		//
		script(src='vendors/bower_components/jszip/dist/jszip.min.js')
		
		script(src='vendors/bower_components/devextreme/js/dx.all.js')
		script(src='vendors/bower_components/devextreme/js/localization/dx.messages.es.js')
		script(src='vendors/bower_components/jszip/dist/jszip.min.js')
		//- script(src='vendors/bower_components/devextreme/js/dx.viz-web.js')
		//script(src='vendors/bower_components/devextreme-web/js/dx.web.js')
		script(src='/js/Es/dx.web.es.js')
		// App functions and actions
		script(src='js/app.min.js')
		script(src='js/other-charts.js')
		script(src='js/views/layout.min.js')

		block head
	body(data-ma-theme='green')
		main.main
			.page-loader
				.page-loader__spinner
					svg(viewbox='25 25 50 50')
						circle(cx='50', cy='50', r='20', fill='none', stroke-width='2', stroke-miterlimit='10')
			header.header
				.navigation-trigger.hidden-xl-up(data-ma-action='aside-open', data-ma-target='.sidebar')
					.navigation-trigger__inner
						i.navigation-trigger__line
						i.navigation-trigger__line
						i.navigation-trigger__line
				.header__logo.hidden-sm-down
					h1
						a(href='Inicio') LABORATORIO GRUNENTHAL
				ul.top-nav
					//- li.hidden-xs-down
					//- 	a.top-nav__notify(href='', data-ma-action='aside-open', data-ma-target='.chat')
					//- 		i.zmdi.zmdi-comment-alt-text
			//Hidden SideBar				
			aside.sidebar
				.scrollbar-inner
					.user
						.user__info(data-toggle='dropdown')
							img.user__img(src='/img/profile-pics/7.jpg', alt='')
							div
								.usuario_nombre
								.usuario_rol
					ul.navigation
						each item in menu.padre
							li(class='/' + item.url === path ? 'navigation__sub navigation__sub--active navigation__sub--toggled': '', class=item.tiene_hijos ? 'navigation__sub': '')
								a(href=item.tiene_hijos ? '': '/' + item.url)
									i.zmdi(class='zmdi-' + item.icono)
									| #{item.descriptiva_menu}
								if item.tiene_hijos
									each itemHijo in menu.hijo
										if itemHijo.estudio_padre_codigo === item.codigo
											ul(style='/' + itemHijo.url === path ?'display: block;' : '')
												each itemHijo in menu.hijo
													if itemHijo.estudio_padre_codigo === item.codigo
														li(class='/' + itemHijo.url === path ? 'navigation__sub--active': '')
															a(href=itemHijo.url) #{itemHijo.descriptiva_menu}
						li
							a(href='/logout')
								i.zmdi.zmdi-power
								| Salir
			//aqui van los filtros
			section.content
				.content__inner
					block content
			footer.footer.hidden-xs-down
				p © GoPharmaSolutions 2018
			block footer