doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		link(rel='shortcut icon', href='/img/Icon/favicon.ico', type='image/x-icon') 
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		// Vendor styles
		link(rel='stylesheet', href='vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css')
		link(rel='stylesheet', href='vendors/bower_components/animate.css/animate.min.css')
		// App styles
		link(rel='stylesheet', href='css/app.min.css')
	body(data-ma-theme='green')
		form.login(method='post', enctype='multipart/form-data')
			// Login
			#l-login.login__block.active
				img.img-responsive(src='img/logo.png', alt='', height='90%', width='70%', style='margin: 0 auto; display: inline;')
				.login__block__body
					.form-group.form-group--float.form-group--centered
						input.form-control.form-control--active(type='text', name='user')
						label Usuario :
						i.form-group__bar
					.form-group.form-group--float.form-group--centered
						input.form-control.form-control--active(type='password', name='password')
						label Password :
						i.form-group__bar
					button.btn.btn--icon.login__block__btn(type='submit')
						i.zmdi.zmdi-long-arrow-right
					.col-md-12
						span(style='float: right;') V2.1
						br
						span(style='float: right;') Act.29102018
		// Older IE warning message
		//if IE
			.ie-warning
				h1 Warning!!
				p
					| You are using an outdated version of Internet Explorer, please upgrade to any of the following web browsers to access this website.
				.ie-warning__downloads
					a(href='http://www.google.com/chrome')
						img(src='img/browsers/chrome.png', alt='')
					a(href='https://www.mozilla.org/en-US/firefox/new')
						img(src='img/browsers/firefox.png', alt='')
					a(href='http://www.opera.com')
						img(src='img/browsers/opera.png', alt='')
					a(href='https://support.apple.com/downloads/safari')
						img(src='img/browsers/safari.png', alt='')
					a(href='https://www.microsoft.com/en-us/windows/microsoft-edge')
						img(src='img/browsers/edge.png', alt='')
					a(href='http://windows.microsoft.com/en-us/internet-explorer/download-ie')
						img(src='img/browsers/ie.png', alt='')
				p Sorry for the inconvenience!
		// Javascript
		// Vendors
		script(src='vendors/bower_components/jquery/dist/jquery.min.js')
		script(src='vendors/bower_components/tether/dist/js/tether.min.js')
		script(src='vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='vendors/bower_components/Waves/dist/waves.min.js')
		// App functions and actions
		script(src='js/app.min.js')
