extends layout.pug
block head
	//css
block content
	header.content__title
		h1 MAPA
	.card
		.card-block
			.row
				.col-md-3
					.row
						.content__title
							//label(style='color: #2A5293;font-size: 15px;') Seleccione un día agendado para ver en mapa
							small#subtitulo-inicio Seleccione un día agendado para ver en mapa
						#dateFechaVisita
				.col-md-1
				.col-md-8
					#map
	
block footer
	//js
	script(src='js/views/mapa.min.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDyVppQOpr_lc0xiSiaa8LqeKUrZqDHcKY')