extends layout.pug
block head
  //css
block content
    #map

block footer
  //js
  script(src='js/views/mapaVisitaSupervisor.min.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDyVppQOpr_lc0xiSiaa8LqeKUrZqDHcKY')