extends layout.pug
block head
	//css
block content
	header.content__title
		h1 Visitas Profesional
	.card
		.card-body.card-padding
			.row
				#dataGridVisita
block footer
	//js
	script(src='js/views/visitasProfesionalSupervisor.min.js')