extends layout.pug
block head
	//css
block content
	header.content__title
		h1 Visitas Punto de Venta
	.card
		.card-body.card-padding
			.row
				#dataGridVisita

block footer
	//js
	script(src='js/views/visitasInstitucionSupervisor.min.js')