extends layout.pug
block head
block content
	header.content__title
		h1 VISITAS PUNTO DE VENTA
	.card
		.card-block
			.row
				.col-md-12
					#dataGridVisita
block footer
	script(src='js/views/visitasInstitucion.min.js')