extends layout.pug
block head
	//css
block content
	header.content__title
		h1 VISITAS HOSPITALARIO
	.card
		.card-block
			.row
				.col-md-12
					#dataGridVisita
block footer
	//js
	script(src='js/views/visitasHospitalario.min.js')