extends layout.pug
block head
  //css
block content
  header.content__title
    h1 VISITAS PROFESIONAL
  .card
    .card-block
      .row
        .col-md-12
          #dataGridVisita
block footer
  //js
  script(src='js/views/visitasProfesional.min.js')