.widget-pie__item {
    padding: 5px 0 !important;
    height: 145px !important;
}
.widget-pie {
    background-color: #47CD93;
}
.widget-pie__title {
    padding-top: 6px;
}
.bg-meta-ciclo {
    background-color: #03A9F4!important;
    margin-bottom: 10px;
}
.bg-meta-fecha {
    background-color: #f5c942!important;
    margin-bottom: 10px;
}
.bg-realizadas {
    background-color: #39bbb0!important;
    margin-bottom: 10px;
}
.bg-restantes {
    background-color: #ff6b68!important;
    margin-bottom: 10px;
}
.card-footer:not(.card-footer--highlight), .card-header+.card-block {
    padding-bottom: 10px;
}
.button-inicio {
    background-color: #32C787;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.3em;
    width: 100%;
}
.btn-secondary:hover {
    color: #f7f7f7;
    background-color: #5AD29E;
    border-color: #e7e7e7;
}
.btn-secondary, .btn-secondary:focus {
    color: #f7f7f7;
}