
/* MENU */
body {
/* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}
.navigation>li>a {
    padding: 0.85rem 1.5rem;
    font-size: 1.1rem;
}

.navigation>li>a>i {
    font-size: 1.6rem;
    top: 0.1rem;
}

.navigation__sub>ul>li>a {
    font-size: 1.0rem;
}

.user__info {
    font-size: 0.9rem;
}
.sidebar{
    width: 240px;
    position: fixed;
    left: 0;
    padding: 90px 1rem 0.5rem 1rem;
    height: 100%;
    overflow: hidden;
    z-index: 9;
}
/* AGENDA */
.dx-scheduler-date-table-cell {
    height: 70px !important;
}
.dx-scheduler-time-panel-cell {
    height: 140px !important;
}
.dx-scheduler-time-panel {
    margin-top: -70px !important;
}
.dx-scheduler-time-panel-row:first-child .dx-scheduler-time-panel-cell {
    padding-top: 65px;
}

/* CARD */
.card-block {
    padding: 0px;
}
/*TITULO MODULO*/
.content__title {
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    color: #414C59;
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    padding: 0.5rem;
}


.header, .header__logo>h1>a {
    font-size: 1.4rem;
}

.user {
    margin: 0 0 0.5rem;
}

.card-menu-tab {
    padding-bottom: 0;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

.padding-formulario {
    flex: 1 1 auto;
    padding: 2.1rem;
}

.card {
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    background-color: transparent;
}

.card-formulario {
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
    background-color: #FFF;
}

/* agenda */
.visit-tooltip-buttons {
    padding-bottom: 5px;
}

/* CABEZERA GRILLA */
.dx-datagrid-header-panel {
    background-color: #F3F3F3;
}

.dx-toolbar .dx-toolbar-items-container {
    background-color: #F3F3F3;
}

/* popup */
.dx-popup-bottom.dx-toolbar .dx-toolbar-items-container {
    background-color: white !important;
}

.dx-popup-title.dx-toolbar .dx-toolbar-items-container {
    background-color: white !important;
}

.padding-top{
    padding-top: 20px !important;
}